!!!
%html{html_attrs}
    %head
        %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
        %meta{:name => "lang", :content => "en"}
        %title The Moon Under Water
        / %link{:href=>'/stylesheets/application.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
        %link{href: "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel: "stylesheet", type: "text/css"}
        %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"}
        %script{:type => "text/javascript", :src => "/javascripts/lib/modernizr-2.6.2.js"}
        :javascript
            var SpritzSettings = {
                clientId: "f8cd147ee950b3843",
                redirectUri: "http://localhost:9393/login_success"
            };
        %script{type: "text/javascript", src: "http://sdk.spritzinc.com/js/1.2/js/spritz.min.js"}
        %script{:type => "text/javascript", :src => "/javascripts/application.js"}
    
    %body
        .container
            .row
                %h1.text-center 'The Moon Under Water', by George Orwell
                %h3.text-center{style: "margin-bottom: 25px"} 
                    %i In 1.76 minutes 
                    %small (if set at 600wpm)

            .row
                .col-md-3
                .col-md-6.center-block{style: "text-align: center"}
                    %button.btn.btn-default#startSpritz{type: "submit", style: "margin: 0 auto"} Click here to read
                .col-md-3
            .row
                .col-md-3
                .col-md-6
                    %div#spritzer{style: "margin-top: 100px"}
                .col-md-3



